<aside class="sidebar">
    <div class="logo">
        <h1>MEDBITS</h1>
    </div>

    <nav class="nav">
        <a href="./dashboard.html" class="nav-item" data-nav="dashboard">
            <i data-lucide="layout-dashboard"></i><span>Dashboard</span>
        </a>
        <a href="./earnings.html" class="nav-item" data-nav="earnings">
            <i data-lucide="dollar-sign"></i><span>Earnings</span>
        </a>

        <a href="../login.html" class="nav-item" data-nav="logout" id="superuser-logout">
            <i data-lucide="log-out"></i><span>Logout</span>
        </a>
    </nav>
</aside>
